@mixin text-shadow($t1, $t2, $t3, $color) {
    text-shadow: #{$t1}px #{$t2}px #{$t3}px #{$color};
}
@mixin box-shadow($t1, $t2, $t3, $color) {
    box-shadow: #{$t1}px #{$t2}px #{$t3}px #{$color};
}

//font-family: 'Poppins', sans-serif;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    nav {
        position: relative;
        padding: 0 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        height: 5em;
        .dropdown-div {
            display: none;
            span {
                display: none;
                transition: all 500ms ease-in-out;
                .fa-bars {
                    font-size: 2em;
                }
            }
            span:active + ul {
                transform: translateY(-50px);
                opacity: 0;
            }
            ul {
                position: absolute;
                top: 3.5em;
                font-size: 1em;
                display: flex;
                flex-direction: column;
                padding: 0;
                row-gap: 0.6em;
                text-transform: uppercase;
                transition: all 700ms ease-in-out;
                opacity: 1;
            }
        }
        .phone-div {
            position: absolute;
            top: 3.5em;
            right: 6vh;
        }
        .text-phone {
            margin: 0;
        }
        .phone {
            color: white;
            font-size: 1.4em;
            @include text-shadow(2, 1, 4, black);
            font-family: 'Poppins', sans-serif;
        }
        .rs-logo-div {
            display: flex;
            width: 6%;
            justify-content: space-between;
        }

        .logo {
            max-height: 3.5em;
            @include box-shadow(2, 2, 7, black);
        }
        .logo-fb {
            max-height: 1.8em;
            @include text-shadow(2, 2, 3, black);
            transition: all 500ms ease-in-out;
        }
        .logo-fb:hover {
            transform: scale(1.2);
        }
        .logo-insta {
            max-height: 1.8em;
            @include text-shadow(2, 2, 3, black);
            transition: all 500ms ease-in-out;
        }
        .logo-insta:hover {
            transform: scale(1.2);
        }
        a {
            font-size: 1em;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            color: white;
            @include text-shadow(2, 1, 4, black);
            padding: 0;
            transition: all 600ms ease-in-out;
        }
        .home-a:hover {
            text-decoration: underline overline;
            text-decoration-color: #3c3b40;
            text-decoration-thickness: 0.5em;
        }
        .create-a:hover {
            text-decoration: underline overline;
            text-decoration-color: #70056f;
            text-decoration-thickness: 0.5em;
        }
        .realise-a:hover {
            text-decoration: underline overline;
            text-decoration-color: #810e04;
            text-decoration-thickness: 0.5em;
        }
        .contact-a:hover {
            text-decoration: underline overline;
            text-decoration-color: #e2a816;
            text-decoration-thickness: 0.5em;
        }
        .access-a:hover {
            text-decoration: underline overline;
            text-decoration-color: #1ec821;
            text-decoration-thickness: 0.5em;
        }
        .count-a:hover {
            text-decoration: underline overline;
            text-decoration-color: #026fd6;
            text-decoration-thickness: 0.5em;
        }
    }
}
main {
    // Section accueil h1 et image de fond psychadélique
    .home-section {
        background-image: url('./assets/fond\ spirit.webp');
        //height: max-content;
        background-attachment: scroll, fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        //border: 0.5em double white;
        background-color: #000000;

        h1 {
            width: 60%;
            color: honeydew;
            font-size: 4em;
            font-weight: 400;
            text-shadow: 2px 1px 4px black;
            text-align: center;
            border-width: 0.1em;
            border-style: double;
            border-color: rgb(177, 105, 105);
            border-radius: 50%;
            box-shadow: 20px 10px 40px black;
            padding: 0.4em 1.2em;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }
        p {
            color: white;
            font-size: 1.8em;
        }
    }
    // Section de présentation du Studio
    .presentation-section {
        background-color: rgba(0, 0, 0, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 11em;
        .presentation-article {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2 {
                font-family: 'Poppins', sans-serif;
                color: white;
                text-align: center;
                font-weight: 300;
                font-size: 1.4em;
                margin: 3em 0;
            }
            p {
                font-family: 'Poppins', sans-serif;
                color: white;
                text-align: center;
                font-weight: 200;
                font-size: 1.2em;
                margin: 3em 0;
            }
        }
        .slides {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .slides img {
            max-width: 13em;
            height: 25em;
            transition: transform 0.5s ease;
            object-fit: cover;
            transition: all 800ms ease-out;
        }
        .slides img:hover {
            opacity: 0.4;
        }
        .next {
            position: absolute;
            right: 5rem;
            color: white;
            background-color: black;
            border: none;
            font-size: 4em;
            background-color: transparent;
            transition: all 500ms ease-in-out;
        }
        .next:hover {
            transform: scale(1.3);
            color: #f69218;
        }
        .prev {
            position: absolute;
            left: 5rem;
            color: white;
            background-color: black;
            border: none;
            font-size: 4em;
            background-color: transparent;
            transition: all 500ms ease-in-out;
        }
        .prev:hover {
            transform: scale(1.3);
            color: #f69218;
        }
    }
    .owner-article {
        max-width: 1140px;
        display: flex;
        //padding: 0;
        .owner-div {
            width: 60%;
            .owner-img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid white;
                //@include box-shadow(3, 4, 10, grey);
            }
        }
        .owner-div-text {
            width: 40%;
            padding: 0 1.1em;
            //overflow: hidden; /* Empêche le dépassement du texte */
        }

        .owner-div-text p {
            color: white;
            text-align: center;
            font-weight: 200;
            font-size: 1.2em;
            margin: 0;
            max-height: 100%; /* Assurez-vous que le texte ne dépasse pas la hauteur de la div */
            overflow: hidden; /* Empêche également le dépassement du texte en cas de nécessité */
        }
    }
    .contact-us-div {
        margin: 3em 0;
        p {
            border: 1px solid white;
            padding: 0.7em 2.2em;
            transition: all 400ms ease-in-out;
            border-radius: 0.2em;
            //@include box-shadow(2, 2, 10, grey);
        }
        p:hover {
            transform: scale(1.1);
            background-color: white;
            color: black;
            font-weight: 700;
        }
        a {
            color: white;
        }
    }
}

// Section Galerie
.galery-section {
    //background-image: url('./assets/tatoo\ fond\ noir.jpeg');
    background-attachment: local;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 11em 3.8em 11em;
    h3 {
        text-align: center;
        color: white;
        font-size: 3em;
        font-weight: 500;
        margin: 0 0 1.5em 0;
        text-shadow: 2px 2px 5px black;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 0.2em 0em;
        width: 100%;
        //width: 1140px;
    }
    .galery-article {
        //max-width: 1140px;
        display: flex;
        //padding: 0 0 5em 0;
        .galery-slides-div {
            display: flex;
            gap: 2em;
            flex-direction: row;
            align-content: center;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        a {
            img {
                width: 12em;
                height: 15em;
                object-fit: cover;
                //border: 1px solid white;
                transition: all 800ms ease-out;
            }
            img:hover {
                opacity: 0.4;
                transform: scale(1.05);
            }
        }
    }
}

.hygiene-section {
    background-image: url('./assets/fond dark.jpeg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    .hygiene-article {
        max-width: 1140px;
    }
    .hygiene-div {
        background-color: grey;
        padding: 0.6em;
        h4 {
            margin-top: 0;
            font-size: 1.2em;
        }
    }
    .count-div {
        background-color: grey;
        padding: 0.6em;
        margin-top: 1.5em;
        h4 {
            margin-top: 0;
            font-size: 1.2em;
        }
    }
    .contact-us-div-bis {
        margin: 3em 0;
        p {
            border: 1px solid white;
            padding: 0.7em 2.2em;
            transition: all 400ms ease-in-out;
            border-radius: 0.2em;
            background: rgba(0, 0, 0, 0.8);
            //@include box-shadow(2, 2, 10, grey);
        }
        p:hover {
            transform: scale(1.1);
            background-color: white;
            color: black;
            font-weight: 700;
        }
        a {
            color: white;
        }
    }
}

// Chevron-up pour remonter en haut de la page
.chevron-up {
    position: fixed;
    filter: brightness(0) invert(1);
    right: 30px;
    bottom: 30px;
    height: 4em;
    transition: 800ms ease-in-out;
}
.chevron-up:hover {
    transform: rotate(360deg);
    transition: transform 0.8s ease;
}

// caroussel de la Galerie photo N°1
.carousel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: black;
}

.link-img {
    max-height: 90vh;
    object-fit: cover;
    border: 1px solid white;
}

.active {
    display: flex;
    justify-content: center;
}
.link-img-reduce {
    max-width: 960px;
    border: 1px solid white;
}

.next {
    position: absolute;
    right: 15rem;
    color: white;
    background-color: black;
    border: none;
    font-size: 4em;
    background-color: transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.next:hover {
    transform: scale(1.3);
}
.prev {
    position: absolute;
    left: 15rem;
    color: white;
    background-color: black;
    border: none;
    font-size: 4em;
    background-color: transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.prev:hover {
    transform: scale(1.3);
}

//Footer
footer {
    width: 100%;
    border-top: 1px solid white;
    .footer-section {
        padding: 2em;
        display: flex;
        justify-content: space-around;
        .opening-hours-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                margin: 0;
            }
            p {
                text-align: center;
                line-height: 1.8em;
            }
        }
        .access-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            .address-div {
                display: flex;
                flex-direction: column;
                align-items: center;

                h4 {
                    margin: 0;
                }
                p {
                    text-align: center;
                    line-height: 1.8em;
                }
                a {
                    margin-bottom: 3em;
                }
            }
        }
        .social-media-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                margin: 0;
            }
            p {
                text-align: center;
            }
            .rs-logo-div {
                display: flex;
                margin: 1.4em 0;
                width: 5em;
                justify-content: space-between;
                p {
                    text-align: center;
                }

                .logo-fb {
                    max-height: 1.8em;
                    @include text-shadow(2, 2, 3, black);
                    transition: all 500ms ease-in-out;
                }
                .logo-fb:hover {
                    transform: scale(1.2);
                }
                .logo-insta {
                    max-height: 1.8em;
                    @include text-shadow(2, 2, 3, black);
                    transition: all 500ms ease-in-out;
                }
                .logo-insta:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .plan {
        width: 50vh;
        height: 40vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

// PAGE CONTACT ET AIDE A LA CREATION
.banner-div {
    background-color: white;
    height: 8em;
}

// Page Aide à la création
.create-main {
    //padding: 3em;
    background-color: white;
    .title-slides-create-section {
        background-color: black;
        padding: 0 3em 1.4em 3em;
        h1 {
            font-size: 3em;
            text-align: center;
            word-spacing: 0.3em;
            font-weight: 500;
            margin: 0.3em 0;
        }
        .slides-create-div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .slides-create-div img {
            width: 17em;
            height: 25em;
            transition: transform 0.5s ease;
            object-fit: cover;
            transition: all 800ms ease-out;
        }
        .slides-create-div img:hover {
            opacity: 0.4;
        }
    }
    .create-text-section {
        background-color: white;
        padding: 0 11em;
        .create-text-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3em;
            color: black;
            padding: 3.2em 0 1.8em 0;
            //text-shadow: 1px 1px 1px rgb(113, 113, 113);
            h2 {
                font-size: 2.2em;
                margin: 0 0 0.5em 0;
            }
            p {
                text-align: center;
                line-height: 2em;
                margin: 0;
            }
        }
        .picture-create-div {
            color: black;
            display: flex;
            justify-content: space-evenly;
            column-gap: 2em;
            align-items: center;
            p {
                margin: 0;
                text-align: left;
                line-height: 1.5em;
            }
            .picture-div {
                width: 20em;
                display: flex;
                flex-direction: column;
                align-items: center;

                h5 {
                    margin: 1.6em 0;
                    font-size: 1.5em;
                    text-align: center;
                }
            }

            img {
                height: 15em;
                box-shadow: 2px 2px 8px black;
                height: 20em;
                max-width: 16em;
                object-fit: cover;
                box-shadow: 2px 2px 8px black;
            }
            .text-div-one {
                background-color: #e8ceb587;
                padding: 1em;
                box-shadow: 2px 2px 8px black;
                border: 5px double black;
            }
            .text-div-two {
                padding: 1em;
                box-shadow: 2px 2px 8px black;
                border: 5px double black;
            }
            .text-div-three {
                background-color: #e8ceb587;
                padding: 1em;
                box-shadow: 2px 2px 8px black;
                border: 5px double black;
            }
        }
    }
    .create-contact-section {
        border-top: 5px double black;
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        h6 {
            color: black;
            text-align: center;
            font-size: 1.2em;
            margin: 0;
        }
        p {
            border: 1px solid white;
            padding: 0.7em 2.2em;
            transition: all 400ms ease-in-out;
            border-radius: 0.2em;
            background-color: black;
            color: white;
            text-align: center;
            margin-bottom: 0;
        }
        p:hover {
            transform: scale(1.1);
            background-color: white;
            color: black;
            font-weight: 700;
            border: 1px solid black;
        }
        a {
            color: white;
        }
    }
}

@media (max-width: 1024px) {
    header {
        nav {
            padding: 0 1%;
            .rs-logo-div {
                width: 8%;
            }
            a {
                font-size: 0.9em;
            }
        }
        .phone-div {
            display: none;
        }
    }
    main {
        .home-section {
            margin-top: 5em;
            height: 36vh;
            background-image: none;
        }
        .presentation-section {
            padding: 0 5%;
            .presentation-article {
                h2 {
                    margin-top: 3em;
                }
            }
            .slides {
                column-gap: 1%;
                img {
                    max-width: 100%;
                }
            }
        }
        .galery-section {
            padding: 4em 5%;
            .galery-article {
                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .galery-slides-div {
                justify-content: center;
                flex-direction: column;
                gap: 2em;
                // a:nth-child(6),
                // a:nth-child(10) {
                //     display: none;
                // }
            }
        }
    }
    .link-img {
        max-width: 60vh;
    }
    .next {
        right: 1%;
        font-size: 6em;
    }
    .prev {
        left: 1%;
        font-size: 6em;
    }
    footer {
        .plan {
            width: 100%;
            height: 20vh;
        }
    }
}
@media (max-width: 768px) {
    header {
        nav {
            justify-content: space-around;
            padding: 0;
            .dropdown-div {
                display: block;
                span {
                    display: block;
                }
            }
            .rs-logo-div {
                width: 18%;
                column-gap: 0.4em;
            }

            a:nth-child(5),
            a:nth-child(6),
            a:nth-child(8),
            a:nth-child(9) {
                display: none;
            }
            .logo {
                display: none;
            }
        }
    }
    main {
        .home-section {
            margin-top: 7em;
            h1 {
                font-size: 2.2em;
                padding: 1em;
                width: 75%;
                border: none;
                border-top: 2px solid rgb(177, 105, 105);
                border-bottom: 2px solid rgb(177, 105, 105);
            }
        }
        .presentation-section {
            .presentation-article {
                h2 {
                    margin: 2.5em 0 2em 0;
                }
                p {
                    margin: 1.6em 0 2em 0;
                }
                .slides {
                    a:nth-child(1),
                    a:nth-child(2) {
                        display: none;
                    }
                    a {
                        img {
                            max-height: 30vh;
                            max-width: 16vh;
                        }
                    }
                }
            }
        }
        .owner-article {
            flex-direction: column;
            align-items: center;
            .owner-div {
                width: 100%;
                .owner-img {
                    height: auto;
                }
            }
            .owner-div-text {
                width: auto;
                p {
                    margin: 0.8em 0 0 0;
                }
            }
        }
        .contact-us-div {
            margin: 2em 0;
        }
        .hygiene-section {
            .count-div {
                text-align: center;
            }
            .hygiene-div {
                h4 {
                    text-align: center;
                }
            }
        }
    }
    footer {
        .footer-section {
            flex-direction: column;
            .opening-hours-div {
                p {
                    margin-top: 0;
                }
            }
            .access-div {
                .address-div {
                    h4 {
                        margin: 1em 0 0 0;
                    }
                }
            }
            .social-media-div {
                h4 {
                    margin-top: 2em;
                }
            }
        }
    }
    .create-main {
        .title-slides-create-section {
            justify-content: center;
            padding: 0 0.2em 1.4em 0.2em;
            h1 {
                font-size: 2em;
            }
            .slides-create-div {
                flex-wrap: wrap;
                justify-content: center;
                img {
                    width: 20em;
                }
            }
        }
        .create-text-section {
            padding: 0.2em;
            padding: 0.2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            .create-text-div {
                text-align: center;
            }
            .picture-create-div {
                flex-direction: column;
                .text-div-two {
                    background-color: rgba(232, 206, 181, 0.5294117647);
                }
                .picture-div {
                    width: 90%;
                    margin: 3em 0;
                }
                img {
                    height: auto;
                    width: 70%;
                    max-width: none;
                }
            }
        }

        .create-contact-section {
            margin-top: 0;
        }
    }
}
